@keyframes in{
	from{opacity: 0%; scale: 95%;}
	to{opacity: 100%; scale: 100%;}
}

body{
	margin: 0px;
	background-color: rgb(50, 50, 52);
	overflow: hidden;
}
.window{
	position: absolute;
	left: 5px;
	top: 30px;
	width: 650px;
	height: 400px;
	background-color: rgb(40, 40, 42);
	isolation: isolate;
	outline: 1px solid rgb(60, 60, 62);
	animation-name: in;
	animation-duration: 0.25s;
	box-shadow: 5px 5px 15px rgb(30, 30, 32);
}
.window editor{
	display: block;
	width: 100%;
	height: calc(100% - 25px);
}
tabstrip{
	display: flex;
	width: 100%;
	height: 25px;
	flex-direction: row;
}
tabstrip *{
	color: white;
	cursor: pointer;
}
button{
	border: none;
	background: none;
	margin: 2px;
	padding: 2px;
	width: 22px;
}
.trash{
	margin-left: auto;
	background: url(trash.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.run{
	background: url(play.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.save{
	background: url(save.png);
	background-size: contain;
	background-repeat: no-repeat;
}
#toolbar{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgb(40, 40, 42);
}
#toolbar *{
	margin: 2px;
	padding: 0px;
	color: white;
	font-family: "Segoe UI", sans-serif;
	font-size: 12px;
	cursor: pointer;
	user-select: none;
}